<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<%= link_to 'Todos os modelos', templates_path %>
<br>
<h1 class='text-center'><i>Novo modelo<i></h1>

<%= form_with model: @template, local: true do |form| %>
    <div id="questions-container">
        <label for="question_label">Título</label>
        <br>
        <input type="text" name="questions[][label]" id="question_label">
        <br>
        <label for="question_description">Descrição</label>
        <br>
        <textarea name="questions[][description]" id="question_description"></textarea>
        <br>
        <input type="hidden" name="questions[][type]" value="TextInputQuestion">
        <hr>
    </div>
    <div id="add-question-buttons" class="text-center">
        <button type="button" id="add-textinputquestion" class="btn btn-secondary">
            + Texto
        </button>
        <button type="button" id="add-multiplechoicequestion" class="btn btn-secondary">
            + Múltipla Escolha
        </button>
    </div>
    <br><br>
    <%= form.submit 'Salvar modelo', class: 'btn btn-primary' %>
<% end %>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // text input question button
        document.getElementById('add-textinputquestion').addEventListener('click', function() {
            var container = document.getElementById('questions-container');

            // Create label for the label input
            var labelInputLabel = document.createElement("label");
            labelInputLabel.setAttribute('for', 'question_label');
            labelInputLabel.textContent = 'Título';

            var labelInput = document.createElement("input");
            labelInput.setAttribute('type', 'text');
            labelInput.setAttribute('name', 'questions[][label]');
            labelInput.setAttribute('id', 'question_label');

            // Create label for the description textarea
            var descriptionTextareaLabel = document.createElement("label");
            descriptionTextareaLabel.setAttribute('for', 'question_description');
            descriptionTextareaLabel.textContent = 'Descrição';

            var descriptionTextarea = document.createElement("textarea");
            descriptionTextarea.setAttribute('name', 'questions[][description]');
            descriptionTextarea.setAttribute('id', 'question_description');

            // Hidden input for question type
            var typeHiddenInput = document.createElement("input");
            typeHiddenInput.setAttribute('type', 'hidden');
            typeHiddenInput.setAttribute('name', 'questions[][type]');
            typeHiddenInput.setAttribute('value', 'TextInputQuestion');

            container.appendChild(labelInputLabel);
            container.appendChild(document.createElement("br"));
            container.appendChild(labelInput);
            container.appendChild(document.createElement("br"));
            container.appendChild(descriptionTextareaLabel);
            container.appendChild(document.createElement("br"));
            container.appendChild(descriptionTextarea);
            container.appendChild(document.createElement("br"));
            container.appendChild(typeHiddenInput);
            container.appendChild(document.createElement("hr"));
        });

        // multiple choice question button
        document.getElementById('add-multiplechoicequestion').addEventListener('click', function() {
            var container = document.getElementById('questions-container');

            // Create label for the label input
            var labelInputLabel = document.createElement("label");
            labelInputLabel.setAttribute('for', 'question_label');
            labelInputLabel.textContent = 'Título';

            var labelInput = document.createElement("input");
            labelInput.setAttribute('type', 'text');
            labelInput.setAttribute('name', 'questions[][label]');
            labelInput.setAttribute('id', 'question_label');

            // Create label for the description textarea
            var descriptionTextareaLabel = document.createElement("label");
            descriptionTextareaLabel.setAttribute('for', 'question_description');
            descriptionTextareaLabel.textContent = 'Descrição';

            var descriptionTextarea = document.createElement("textarea");
            descriptionTextarea.setAttribute('name', 'questions[][description]');
            descriptionTextarea.setAttribute('id', 'question_description');

            // Hidden input for question type
            var typeHiddenInput = document.createElement("input");
            typeHiddenInput.setAttribute('type', 'hidden');
            typeHiddenInput.setAttribute('name', 'questions[][type]');
            typeHiddenInput.setAttribute('value', 'MultipleChoiceQuestion');

            // Create label for the format input
            var formatInputLabel = document.createElement("label");
            formatInputLabel.setAttribute('for', 'question_format');
            formatInputLabel.textContent = 'Opções (delimitar com `|`) (ex: opção1|opção2|opção3)';

            var formatInput = document.createElement("input");
            formatInput.setAttribute('type', 'text');
            formatInput.setAttribute('name', 'questions[][format]');
            formatInput.setAttribute('id', 'question_format');

            container.appendChild(labelInputLabel);
            container.appendChild(document.createElement("br"));
            container.appendChild(labelInput);
            container.appendChild(document.createElement("br"));
            container.appendChild(descriptionTextareaLabel);
            container.appendChild(document.createElement("br"));
            container.appendChild(descriptionTextarea);
            container.appendChild(document.createElement("br"));
            container.appendChild(formatInputLabel);
            container.appendChild(document.createElement("br"));
            container.appendChild(formatInput);
            container.appendChild(typeHiddenInput);
            container.appendChild(document.createElement("hr"));
        });
});
</script>
