<div>
    <h2>Texto teste</h2>
</div>
  <div class="cards-container">
    <% @forms.each do |form| %>
      <div class="card">
<!--
        <h2><%= form.nome_da_materia %></h2>
        <p><strong>Semestre:</strong> <%= form.semestre %></p>
        <p><strong>Professor:</strong> <%= form.professor %></p>
-->
      </div>
    <% end %>
  </div>
